

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.stack {
  text-align: center;
  font-family: Courier;
  font-weight: bold;
}

#terminal {
  position: relative;
  overflow: scroll;
  background-color: black;
  margin-bottom:20px;
}

 #UserDefinedButtons{
 	font-family: georgia;
 	color: #E29DC4;
 	font-weight: bold;
 }





